
<div id="ddiv" class="container">
  <div class=" row ">

    <div class=" col-4 m-3 " style="width: 18rem;" *ngFor="let post of posts">
      <img src="../../assets/images/33.jpg" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text">At : {{post.createdAt}}</p>
        <p class="card-text"> Likes : {{post.likes}}</p>
        <p class="card-text">By : {{post.creator.name}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>



  </div>


</div>